body.darkMode {
    background-color: #1e1e24;

}
body {
    background-color: #f5efdf;
}
#head.darkMode {
    background-color: #282a30;
}
#head {
    top:0px;
    left:0px;
    position:absolute;
    height:10%;
    width:100%;
    background-color: #7ecfc5;
}
button.darkMode {
    background-color: #424258;
}
button {
    background-color: #599590;
}
#darkMode {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:1%;
}
#main {
    position:absolute;
    top:10%;
    left:0px;
    width:100%;
    bottom:5%;
}
#gameArea {
    border-style:solid;
    border-width:2px;
    border-color:#666;
    top:5%;
    height:80%;
    width:70%;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
/* #Game {
    background-color: #323232;
} */
#foot.darkMode {
    background-color: #121417;
}
#foot {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:5%;
    margin:0px;
    background-color: #c4b99b;
}
#devs {
    margin-left: 3%;
}
p.darkMode {
    color: #f5efdf;
}
p {
    font-family:'Verdana',sans-serif;
    color: #1e1e24;
}
#title {
    font: italic small-caps bold 16px/2 cursive;
    position:absolute;
    top:25%;
    left:37%;
    width:100%;
    bottom:5%;
}

/* #mainMenu {
    background-color: #52c4b4;
    display: flex;
    justify-content: center;
  }
  
  #mainMenu button {
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  #mainMenu button:hover {
    background-color: #cecece;
  } */